<%= link_to 'Back', @project, class: 'btn btn-secondary mb-3' %>
<div class="card">
  <div class="card-body">
    <h5 class="card-title text-dark">
      Edit task
    </h5>
    <%= render 'form' %>
  </div>
</div>
