<%= link_to 'Back', projects_path, class: 'btn btn-secondary mb-3' %>
<div class="card">
  <div class="card-body">
    <h5 class="card-title text-dark">
      New project
    </h5>
    <%= render 'form', project: @project %>
  </div>
</div>
